
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
.wrapper{
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    background-color: brown;
    position: fixed;
    height: 100%;
    width: 150p;
}